* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f7ff;
}

.login-form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff8dc;
  --main-color: #000;
  padding: 24px;
  background: #d2e7ff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 6px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 320px;
}

.login-title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

.login-input {
  width: 100%;
  height: 42px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 500;
  color: var(--font-color);
  padding: 6px 10px;
  outline: none;
}

.login-input:focus {
  border: 2px solid var(--input-focus);
}

.login-button {
  width: 100%;
  height: 42px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  margin-top: 10px;
}

.login-button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.login-form p {
  text-align: center;
  font-size: 14px;
  color: var(--font-color-sub);
}
